<div class="modal-header">
    <h5 class="modal-title">Duplicate User Alert</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal();">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">
    <p class="text-left">You already have an active User with this same name in <span
            id="type_save_active">{{type_save_active}}</span> using an email address of <span
            class="email_exists_id">{{email_exists_id}}</span>. If the user you are setting up is a
        DIFFERENT person, please click YES to continue otherwise please click “NO” to update this user.
    </p>
    <span class="active_user_zoho_id" style="display:none;">{{active_user_zoho_id}}</span>
    <span class="active_user_ads_id" style="display:none;">{{active_user_ads_id}}</span>
    <div class="align-left grid-block medium-8 ">
        <div class="medium-4 ">
            <input type="button" class="button expand" value="Yes" ng-click="saveUser('active')">
        </div>
        <div class="medium-4 grid-content">
            <input type="button" class="button expand pull-right" value="No" ng-click="saveUser('active_no');">
        </div>
    </div>
</div>
