<div class="modal-header">
    <h5 class="modal-title">Edit User</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal();">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">
    <form name="edit_user" id="edit_user" novalidate="" class="super-admin-popup">
        <span class="color-red mb-3 d-block">Note: Fields marked as * are mandatory.</span>
        <ul>
            <li>
                <label>First Name
                </label>
                <div>
                    <label>{{admin_user.user_result[0].first_name}}</label>
                    <input type="hidden" value="{{admin_user.user_result[0].user_id}}" name="user_id"
                        id="edit_data_user_id" />
                    <input type="hidden" ng-model="admin_user.user_result[0].first_name"
                        name="first_name" required />
                    <span class="color-red"
                        ng-show="edit_user.first_name.$dirty && edit_user.first_name.$invalid">
                        <span class="inline-label" ng-show="edit_user.first_name.$error.required">First
                            Name is required.</span>
                    </span>
                </div>
            </li>
            <li>
                <label>Last Name
                </label>
                <div>
                    <label>{{admin_user.user_result[0].last_name}}</label>
                    <input type="hidden" ng-model="admin_user.user_result[0].last_name" name="last_name"
                        required />
                    <span class="color-red"
                        ng-show="edit_user.last_name.$dirty && edit_user.last_name.$invalid">
                        <span class="inline-label" ng-show="edit_user.last_name.$error.required">Last
                            Name is required.</span>
                    </span>
                </div>
            </li>
            <li>
                <label>Email<span class="color-red"> * </span></label>
                <div>
                    <input class="placeholder-italic" type="email" name="username_edit"
                        placeholder="Please enter email address"
                        ng-model="admin_user.user_result[0].username" required
                        ng-change="verifyDuplicateEmail(admin_user.user_result[0].username,admin_user.user_result[0].user_id)"
                        ng-pattern="/\S+@\S+\.\S+/" />
                    <input class="placeholder-italic" type="hidden" name="hidden_email"
                        value="{{admin_user.user_result[0].hidden_email}}" />

                    <span class="color-red"
                        ng-show="edit_user.username_edit.$dirty && edit_user.username_edit.$invalid || usernameValid || usernameValidInCompany">
                        <span ng-show="edit_user.username_edit.$error.required">Email is
                            required.</span>
                        <span class="inline-label color-red"
                            ng-show="edit_user.username_edit.$error.pattern">Email Address not
                            valid.</span>
                        <span class="inline-label color-red" ng-show="usernameValid">Email
                            already exists.</span>
                        <span class="inline-label color-red" ng-show='usernameValidInCompany'>User
                            with this email already exists. Do you
                            want to reactivate? &nbsp;&nbsp;<input type="button"
                                ng-click="deactivate(email_user_id, 'inactive')"
                                value="Reactivate"></span>
                    </span>
                </div>
            </li>
            <li>
                <label>Country Code</label>
                <div class="Admin Informationent">
                    <select name="country_code" id="edit_country_code"
                        ng-model="admin_user.user_result[0].country_code"
                        ng-init="admin_user.user_result[0].country_code">
                        <option ng-repeat="values in admin_user.authy_countries"
                            value="{{values.country_code}}">+{{values.country_code}}</option>
                    </select>
                </div>
            </li>
            <li>
                <label>Mobile Phone<sup class="color-red">*</sup></label>
                <div>
                    <input class="placeholder-italic" maxlength="20" type="text" name="mobile"
                        placeholder="Please enter mobile # for Authy Authentication"
                        ng-model="admin_user.user_result[0].phone_number" id="mobile_edit" required
                        ng-model-options="{'debounce': 250 }" masked-input
                        ng-blur="verifyDuplicateMobile(admin_user.user_result[0].phone_number)" />

                    <input maxlength="20" type="hidden" name="hidden_mobile"
                        value="{{admin_user.user_result[0].mobile}}" id="mobile_edit_hidden" />
                    <span class="color-red"
                        ng-show="edit_user.mobile.$dirty || edit_user.mobile.$invalid && edit_user.mobile.$pristine">
                        <span class="inline-label" ng-show="edit_user.mobile.$error.required">Mobile Phone is required.</span>
                    </span>
                    <span class="inline-label color-red" style="display:none;" id="edit_mobile">Please enter valid mobile.</span>
                    <span class="inline-label color-red" ng-show='mobileValid'>Mobile already exists.</span>
                    <span class="inline-label color-red" style="display:none;" id="authy_edit_mobile" ng-model="authy_edit_mobile"></span>
                </div>
            </li>
            <li>
                <label>Assistant Admin</label>
                <div class="checkbox-normal">
                    <input type="checkbox" class="checkbox-assistant_admin  checkbox-custom" name="assistant_admin"
                    ng-model="admin_user.user_result[0].assistant_admin" id="assistant_admin_edit"
                    ng-checked="assistant_admin_check(admin_user.user_result[0].assistant_admin)" />
                    <label class="checkbox-assistant_admin-label checkbox-custom-label">
                    </label>
                </div>
            </li>
            <li>
                <label>Position</label>
                <div>
                    <input type="text" ng-model="admin_user.user_result[0].position" name="position" />
                </div>
            </li>
            <li style="display: none;">
                <label>Tier</label>
                <div>
                    <select name="tier_name" ng-model="admin_user.user_result[0].tier">
                        <option ng-repeat="tier in admin_user.users.tiers track by $index"
                            value="{{tier.id}}">{{tier.tier}}</option>
                    </select>
                    <input type="hidden" value="{{edit_user.tier_name.$dirty}}" name="tier_change"
                        id="tier_change">
                    <span class="color-red"
                        ng-show="edit_user.tier_name.$dirty && edit_user.tier_name.$invalid">
                        <span class="inline-label" ng-show="edit_user.tier_name.$error.required">Tier is
                            required.</span>
                    </span>
                </div>
            </li>
            <li>
                <label>Role</label>
                <div>
                    User
                </div>
            </li>
            <li>
                <div id="authy_error" class="color-red"></div>
                <div style="display:none">
                    <div>
                        <label>Receive Weekly Retail Report</label>
                    </div>
                    <div>
                        <div class="d-flex flex-wrap"
                            ng-init="admin_user.user_result[0].receive_report = 1">
                            <label for="yes2" class="radio mr-2">
                                <input type="radio" ng-model="admin_user.user_result[0].receive_report"
                                    name="receive_report" value="1" id="yes2" /><span>Yes</span>
                            </label>
                            <label for="no2" class="radio mr-2">
                                <input type="radio" ng-model="admin_user.user_result[0].receive_report"
                                    name="receive_report" value="0" id="no2" /><span>No</span>
                            </label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="btn-grp d-flex justify-content-end border-top pt-3">
            <button class="cancelBtn btn btn-black" data-dismiss="modal" aria-label="Close"
                type="button" value="Cancel" ng-click="closeModal();backToAdmin('edit')"><i class="fa fa-times"
                    title="cancel"></i>Cancel</button>
            <button class="applyBtn btn btn-blue mr-2" data-dismiss="modal" aria-label="save"
                type="button" value="Save"
                ng-disabled="edit_user.$invalid || usernameValid || mobileValid"
                ng-click="editUser(admin_user.user_result[0].user_id)" id="edit_user_btn"><i
                ng-disabled="save_clicked" class="fa fa-check" title="save"></i>Save</button>
        </div>
    </form>
</div>
