<div class="modal-header">
    <h5 class="modal-title">Change Admin Of Company</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal();">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">
    <form name="admin.change_admin" id="change_admin" novalidate="" ng-submit="changeAdminOfCompany()">
        <input type="hidden" id="company_id" name="company_id" ng-model="admin.company_id" />
        <span class="color-red mb-3 d-block">Note: Fields marked as * are mandatory.</span>
        <h5>User Information</h5>
        <ul>
            <li>
                <label>Admin</label>
                <div id="list_admin">
                </div>
            </li>
            <li>
                <label>Select User
                    <sup class="color-red">*</sup>
                </label>
                <div id="list_users">
                </div>
            </li>
        </ul>
        <div class="btn-grp d-flex justify-content-end border-top pt-3">
            <button type="button" class="btn btn-black" value="Cancel"
                ng-click="closeModal();backToAdmin('change_admin')"><i class="fa fa-times"
                    title="cancel"></i>Cancel</button>
            <button type="submit" class="btn btn-blue" value="OK" id="change_admin_ok"
                ng-disabled="!admin.selected_users"><i class="fa fa-check" title="Save"></i>OK</button>
        </div>
    </form>
</div>