<!-- Tracking section -->
<div class="modal-header">
    <h5 class="modal-title">Set Alert</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal();">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">
    <div class="d-flex pb-2">
        <span id="tracker_element_name" class="element_name"></span>
    </div>
    <div class="edit-parent-container border-top" id="following_occurs">
        <div class="edit-inner-div d-flex pt-3">
            <p>Alert when the following occurs: </p>
            <ul class="ml-3">
                <li class="text-center checkbox" id="track_advertiser_ul">
                    <input type="checkbox" id="track_advertiser_input" name="track_advertiser_input">
                    <label for="track_advertiser_input" class="checkbox-custom-label">
                        <span class="v-align-middle">New Advertisers are Detected</span>
                    </label>
                </li>
                <li class="text-center checkbox" id="track_brand_ul">
                    <input type="checkbox" id="track_brand_input" name="track_brand_input">
                    <label for="track_brand_input" class="checkbox-custom-label">
                        <span class="v-align-middle">New Brands are Detected</span>
                    </label>
                </li>
                <li class="text-center checkbox" id="track_creative_ul">
                    <input type="checkbox" id="track_creative_input" name="track_creative_input">
                    <label for="track_creative_input" class="checkbox-custom-label">
                        <span class="v-align-middle">New Creative are Detected</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="edit-inner-div d-flex pt-3" id="brand_classification_div">
            <p>Brand Classification: </p>
            <ul class="d-flex middle-child">
                <li class="text-center checkbox mr-2">
                    <input type="checkbox" id="short_form_products" name="short_form_products">
                    <label for="short_form_products" class="checkbox-custom-label">
                        <span class="v-align-middle">Short From Products</span>
                    </label>
                </li>
                <li class="text-center checkbox">
                    <input type="checkbox" id="lead_generation" value="lead_generation" name="lead_generation">
                    <label for="lead_generation" class="checkbox-custom-label">
                        <span class="v-align-middle">Lead Generation</span>
                    </label>
                </li>
                <li class="text-center checkbox mr-2">
                    <input type="checkbox" id="brand_direct" value="brand_direct" name="brand_direct">
                    <label for="brand_direct" class="checkbox-custom-label">
                        <span class="v-align-middle">Barnd/Direct</span>
                    </label>
                </li>
                <li class="text-center checkbox">
                    <input type="checkbox" id="285_mins" value="285_mins" name="285_mins">
                    <label for="285_mins" class="checkbox-custom-label">
                        <span class="v-align-middle">28.5 Mins</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="edit-inner-div  pt-2 pb-3">
            <p>Alert frequency:</p>
            <div class="grid-content medium-8" id="AlertfrequencyLabel">
                <label class="m-top5"></label>
            </div>
            <ul class="d-flex" id="AlertfrequencyUL">
                <li class="text-center checkbox">
                    <input type="checkbox" id="alert_frequency_daily" name="alert_frequency_daily" value="daily">
                    <label for="alert_frequency_daily" class="checkbox-custom-label">
                        <span class="v-align-middle">Daily</span>
                    </label>
                </li>
                <li class="text-center checkbox  ml-2">
                    <input type="checkbox" id="alert_frequency_weekly" name="alert_frequency_weekly" value="weekly">
                    <label for="alert_frequency_weekly" class="checkbox-custom-label">
                        <span class="v-align-middle">Weekly</span>
                    </label>
                </li>
                <li class="text-center checkbox  ml-2" ng-show="show_monthly">
                    <input type="checkbox" id="alert_frequency_monthly" name="alert_frequency_monthly" value="monthly">
                    <label for="alert_frequency_monthly" class="checkbox-custom-label">
                        <span class="v-align-middle">monthly</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex border-top pt-2 notice">
        <label>Notification Type: <span class="ml-5">Email</span></label>
    </div>
    <div class="grid-block" style="display:none;">
        <input type="text" id="alert_type_val" name="alert_type_val" val="" />
        <input type="text" id="type_id_val" name="type_id_val" val="" />
    </div>
    <div class="btn-grp d-flex justify-content-end border-top pt-3" id="feedback_msg_block_btn">
        <div class="align-center" id="success_alert_setup_msg" style="display:none;">
        </div>
        <div class="align-center" id="error_alert_setup_msg" style="display:none;">
        </div>
        <button class="btn btn-blue" type="Set" id="set_tracking_btn"><i class="fa fa-check"
                title="apply"></i>Set</button>
        <button class="btn btn-blue" type="button" id="del_tracking_btn" style="display:none;"><i class="fa fa-trash"
                title="cancel"></i>Delete</button>
        <button id="cancel_tracking_btn" class="btn btn-black" data-dismiss="modal" aria-label="Close"
            ng-click="closeModal();backToAdmin('edit')"><i class="fa fa-times" title="cancel"></i>Cancel</button>
        <button class="btn btn-black mr-3" id="network_track_btn"><i class="fa fa-eye" title="Track"></i> Track</button>
    </div>
</div>