<div class="modal-header" id="contactExistsDifferentAccount">
    <h5 class="modal-title">Contact Exists In Different Account</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">
    <p class="text-left m-0">
        Warning: In Zoho there is a match for the ADMIN name but the email address does not match.
        You can cancel, update the email address in Zoho, and try again. Do you wish to proceed to
        create a new and potentially duplicate record in Zoho?
    </p>
    <span class="zoho_account_id" style="display:none;"></span>
    <span class="zoho_account_name" style="display:none;"></span>
    <div class="btn-grp d-flex justify-content-end border-top pt-3">
        <button type="button" class="button expand" value="Yes" ng-click="saveCompany('new_contact');"></button>
        <button type="button" class="button expand pull-right" value="No"
            ng-click="backToAdmin('contact_found_zoho');"></button>
    </div>
</div>