<!-- <div class="modal-header" >
        <h3 >Authy Validation</h3>
    </div>
    <div class="modal-body">
            <form name="verification" id="verification" ng-submit="verifyLogin();">
                {{invalidToken}}
                    <p class="tokenMsg">A message has been sent to your registered cell phone number.</p>
                    <label>Authy Token</label>
                    <input type="text" value=""  name="token" ng-model="token" required ng-change="error_reset();" />
                    <p class="invalid" ng-show="!invalidToken" >Invalid Token.</p>
            </form>
    </div>
    <div class="modal-footer">
            <input type="submit"  class="button" value="Validate" ng-disabled="buttonClicked">
    </div>
    -->
<!-- 
<div id="auhtyModalDlg" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 >Authy Validation</h3>
      </div>
      <div class="modal-body">
        <form name="verification" id="verification" ng-submit="verifyLogin();">
                {{invalidToken}}
                    <p class="tokenMsg">A message has been sent to your registered cell phone number.</p>
                    <label>Authy Token</label>
                    <input type="text" value=""  name="token" ng-model="token" required ng-change="error_reset();" />
                    <p class="invalid" ng-show="!invalidToken" >Invalid Token.</p>
        </form>
      </div>
      <div class="modal-footer">
        <input type="submit"  class="button" value="Validate" ng-disabled="buttonClicked">
       </div>
    </div>
  </div>
</div> -->

<div class="modal-body" id="eulaAgreement">
  <div class="d-flex mt-3 mb-4">
    <span class="text-center">By clicking “Agree" you are representing that you have read the Agreement and agree to be bound by its terms and conditions.</span>
</div>
</div>
<div class="modal-footer">
    <button id="" class="btn btn-black" ng-click="eulaDisagree();">Disagree</button>
    <button id="" class="btn btn-blue" ng-click="eulaAgree();">Agree</button>
</div>