<div class="modal-header">
    <h5 class="modal-title">Add New User</h5>
    <button type="button" class="close" ng-click="closeModal();">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">
    <p>
        You have reached the maximum allowed users based on your subscription plan. Please contact
        DRMetrix to upgrade your subscription plan. NEw
    </p>
    <div class="align-center grid-block upgrade">
        <input type="button" class="btn btn-blue" value="Contact Now" ng-click="sendMail()">
    </div>
    <div class="align-center grid-block">
        <ul>
            <li>info@drmetrix.com</li>
            <li>&bull;951-234-3899</li>
        </ul>
    </div>
</div>