
<div class="modal-header">
    <h5 class="modal-title">Set Alert</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" ng-click="closeModal();"></span>
    </button>
</div>
<div class="modal-body">
    <div class="d-flex pb-2">
    <span id="tracker_element_name" class="element_name" ng-model="tracker_element_name"></span>
    </div>
    <div class="edit-parent-container border-top" id="following_occurs">
    <div class="edit-inner-div pt-3 d-flex">
        <label>Alert when the following occurs: </label>
        <ul>
            <li class="text-center checkbox" id="track_advertiser_ul" ng-show="track_advertiser">
                <input type="checkbox"  ng-model="$parent.isAdvSelected" id="track_advertiser_input">
                <label for="track_advertiser_input" class="checkbox-custom-label">
                New Advertisers are Detected
                </label>
            </li>
            <li class="text-center checkbox" id="track_brand_ul" ng-show="track_brand">
                <input type="checkbox"  ng-model="$parent.isBrandSelected" id="track_brand_input">
                <label for="track_brand_input"  class="checkbox-custom-label">
                New Brands are Detected
                </label>
            </li>
            <li class="text-center checkbox" id="track_creative_ul" ng-show="track_creative" >
                <input type="checkbox" ng-model="$parent.isCreativeSelected" id="track_creative_input">
                <label for="track_creative_input"  class="checkbox-custom-label">
                New Creative are Detected
                </label>
            </li>
        </ul>
    </div>
    <div class="edit-inner-div pt-3 d-flex" id="brand_classification_div">
        <label>Brand Classification: </label>
        <div class="d-flex alert-brand-classification">
            <ul class="d-flex middle-child">
                <li class="text-center checkbox" ng-repeat="shortForm in shortFormTrackingClassification">
                    <input type="checkbox" name="classification"  value="{{shortForm.index}}" id="{{shortForm.id}}" class="checkbox-custom-label" ng-model="shortForm.selected" />
                    <label for="{{shortForm.id}}">
                        {{shortForm.value}}
                    </label>
                 </li>
        </div>
    </div>
    <div class="edit-inner-div d-flex pt-3 pb-3">
        <label>Alert frequency:</label>
        <ul class="d-flex" id="AlertfrequencyUL">
            <li class="mr-3" ng-show="notClosing != null && notClosing && email_schedulable_direct">
                <div id="AlertfrequencyLabel">
                <label class="m-top5"></label>
                </div>
            </li>
            <li class="text-center checkbox mr-3" ng-repeat="frequency in tracking_frequency">
                <input type="checkbox"  value="{{frequency.value}}" id="{{frequency.id}}" class="checkbox-custom-label" ng-model="frequency.selected" />
                <label for="{{frequency.id}}">
                    {{frequency.value}}
                </label>
             </li>
        </ul>
    </div>
    <div class="border-top edit-inner-div pt-2 d-flex">
        <label class="pb-0 mb-0">Notification Type: </label>
        <span class="notice-email">Email</span>
    </div>
    </div>
    <div class="align-center" id="success_alert_setup_msg" ng-bind-html="success_alert_setup_msg | trustAsHtml" ng-show="success_alert_setup_msg != ''" >
    </div>
    <div class="align-center" id="error_alert_setup_msg" ng-bind-html="error_alert_setup_msg | trustAsHtml" ng-show="error_alert_setup_msg != ''"></div>
    <div class="btn-grp d-flex justify-content-end pt-3" id="feedback_msg_block_btn">
        <button id="cancel_tracking_btn" class="btn btn-black" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" title="cancel"></i>Cancel</button>
        <button class="btn btn-blue" type="Set" id="set_tracking_btn" ng-click="setTracking();"><i class="fa fa-check" title="apply"></i>Set</button>
        <button class="btn btn-blue" type="button" id="del_tracking_btn" style="display:none;"><i class="fa fa-trash" title="cancel"></i>Delete</button>  <!-- displayed in configure emails  -->
        <div id="other_tracking_actions" ng-bind-html="tracking_action | trustAsHtml"></div>
    </div>
</div>
       