<div class="grid-block"></div>
    <nav class="grid-content">
        <ul class="no-bullet">
            <li ng-show="type == 'advertisers'">Advertiser: <span ng-bind-html="advertiser_name"></span></li>
            <li ng-show="tab == 'brand'">Brand: <span ng-bind-html="brand_name | trustAsHtml"></span></li>{{brand_name}}
            <li ng-show="tab == 'creative'">Creative: <span ng-bind-html="creative_name | trustAsHtml"></span></li>
            <li ng-show="selectedNetwork!= ''">Network: <span ng-bind-html="selectedNetworkAlias | trustAsHtml"></span></li>
            <li ng-show="selectedNetwork!= ''"" style="margin-top:2px;">
                <span class="dpi-symbol" style="width:30px;display:inline-grid;margin-left:0px;"><img src="assets/images/dpi_symbol.png"></span>
            </li>
            <li>Total Airings: <span ng-bind-html="total_airings | trustAsHtml"></span></li>
            <li>National Airings: <span ng-bind-html="national_airings | trustAsHtml"></span></li>
            <li >DPI Airings: <span ng-bind-html="dpi_airings | trustAsHtml"></span></li>
            <li>
                <ul >
                    <li>Total Spend: $<span ng-bind-html="total_spend | trustAsHtml"></span></li>
                    <li>National Spend: $<span ng-bind-html="national_spend | trustAsHtml"></span></li>
                    <li>DPI Spend: $<span ng-bind-html="dpi_spend | trustAsHtml"></span></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>