<section class="eula-agreement">
    <div class="eula-logo text-center">
        <img src="./assets/images/adspherelogo.png" width="200">
        <h6>To continue using Adsphere, you must agree to the terms of license agreement.</h6>
    </div>
    <div class="agreement-sec">
        <div class="information">
            <p>END USER LICENSE AGREEMENT</p>
            <p><span>ADSPHERE LICENSE.</span> DRMETRIX, LLC ("DRMETRIX") has granted to USER’S COMPANY a limited number of AdSphere licenses, and
                USER hereby agrees and acknowledges that his, her or its use of AdSphere constitutes a limited, personal,
                nontransferable and nonexclusive end user license ("License") to receive and use the data, reports, databases, and/or
                AdSphere services to be exclusively used by and on behalf of USER’S COMPANY and subject to any other license agreement
                with USER'S COMPANY.</p>
            <p><span>WEB APPLICATION.</span> AdSphere is accessed or used through the world wide web (“Web Application”) and as such, USER will (a)
                observe reasonable security procedures relating to passwords and AUTHY codes (including treating both passwords and
                AUTHY codes as confidential information), and (b) use reasonable efforts to assist DRMETRIX in identifying and
                preventing any unauthorized use of AdSphere.</p>
            <p><span>OWNERSHIP AND COPYRIGHT.</span> AdSphere and the contents contained, specifically including data, reports and databases
                therein, are owned by or licensed to DRMETRIX; access rights are being licensed and not sold to USER or USER’S COMPANY;
                and thus, other than the License, neither USER or USER’S COMPANY shall not receive any right, title or interest in
                AdSphere (including the contents thereof) or any copies, regardless of the form or media in or on which the original and
                other copies may exist, by virtue of this License. Unless otherwise agreed in writing with DRMETRIX, copying, selling,
                sublicensing, transferring or distributing AdSphere data or any elements or pages thereof (including without limitation
                electronic copying) is prohibited. DRMETRIX’s business names and logos are also trademarks of DRMETRIX, and neither USER
                nor USER’S COMPANY may copy or use the same without DRMETRIX’s prior written consent. USER acknowledges that any breach
                or attempted breach by USER of these provisions and the Use Restrictions below may cause DRMETRIX irreparable injury,
                for which DRMETRIX may seek and obtain, in addition to any and all other remedies available to DRMETRIX, (a) temporary
                and permanent injunctive relief and/or (b) liquidated damages (but not a penalty) in an amount equal to four times the
                aggregate fees charged for the AdSphere service.</p>
            <p><span>USE RESTRICTIONS.</span> The Web Application and or individual copies of or access to AdSphere may only be given or made
                available to employees of USER’S COMPANY that agree to the terms of this License. USER may not use AdSphere or the
                contents therein in litigation or administrative proceedings except if DRMETRIX has given prior written approval. Use by
                USER will be limited to the ordinary course of USER’s work on behalf of USER’S COMPANY. Notwithstanding the foregoing,
                contents of AdSphere (except for access to any Web Applications (including copies of reports generated from such
                applications), and except for any source code of which USER may become aware) may be disclosed and distributed by USER
                to its clients in the ordinary course of USER’S work on behalf of USER’S COMPANY, under the conditions that DRMETRIX be
                identified as the source of said contents and that such saidcontents are subject to copyright by DRMETRIX. As used
                herein, the term “client” will mean and refer to:</p>
            <ol>
                <li>If USER’S COMPANY is an advertising agency: an advertiser for which USER’S COMPANY is planning and/or buying media< schedules, or an advertiser for which USER, or USER’S COMPANY, is creating a new business presentation.</li> 
                <li>If USER’s COMPANY is a cable network or broadcaster: the publisher’s advertisers.</li>
                <li>If USER’S COMPANY is a retailer: the product marketers/vendors that retailer is sourcing product from.</li>
                <li>If USER’S COMPANY is a product marketer: the retailers that marketer is selling or promoting product to.</li>
                <li>If USER'S COMPANY is a vendor, or does not fit into any of the above descriptions: an advertiser that USER'S COMPANY is
                either currently doing business with, or an advertiser for which USER, or USER'S COMPANY, is creating a new business presentation, or</li>
                <li>If USER'S COMPANY is providing, or sharing, AdSphere information which pertains to the service that USER’S COMPANY
                    provides.</li>
            </ol>
            <p><span>LIMITED WARRANTY; LIMITED LIABILITY.</span> ADSPHERE IS PROVIDED “AS IS” AND WITHOUT WARRANTY OF ANY KIND. WITHOUT LIMITING THE
                GENERALITY OF THE FOREGOING, DRMETRIX DOES NOT WARRANT, GUARANTEE, OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE
                RESULTS OF THE USE OF THE PRODUCTS IN TERMS OF CORRECTNESS, ACCURACY, RELIABILITY, CURRENTNESS OR OTHERWISE. DRMETRIX
                MAKES NO WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. NO ORAL OR WRITTEN INFORMATION OR ADVICE
                GIVEN BY DRMETRIX OR ANY OF ITS EMPLOYEES WILL CREATE A WARRANTY, AND USER MAY NOT LEGALLY RELY ON ANY SUCH INFORMATION
                OR ADVICE. DRMETRIX WILL NOT BE LIABLE FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL, INCIDENTAL, PUNITIVE OR EXEMPLARY
                DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION AND THE
                LIKE) IN CONNECTION WITH USER’S USE OF THE ADSPHERE, EVEN IF DRMETRIX HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
                DAMAGES. DRMETRIX’S ENTIRE LIABILITY AND USER’S EXCLUSIVE REMEDIES FOR ANY DEFECTIVE PERFORMANCE BY DRMETRIX HEREUNDER
                WILL BE FOR USER TO RECOVER ITS ACTUAL DAMAGES RESULTING FROM SUCH BREACH, NOT TO EXCEED $1,000.</p>
                <p><span>TERM AND TERMINATION.</span> Should USER’S COMPANY no longer subscribe to AdSphere, USER and USER’S COMPANY shall destroy all
                    copies of AdSphere, and derivative content of AdSphere in their possession at the time of termination, including but not
                    limited to reports, video links and file outputs and certify that destruction by executing and delivering to DRMETRIX a
                    certificate in a form prescribed by DRMETRIX.</p>
                <p><span>MISCELLANEOUS.</span> This License will be construed and enforced in accordance with the laws of the State of California. Each
                    of the parties hereto hereby irrevocably submits to the exclusive jurisdiction of the federal and state courts situated
                    in Riverside County, California.</p></div>
        <div class="btn-grp text-center pt-3">
            <button class="btn btn-black mr-2" ng-click="eulaDisagree()">Disagree</button>
            <button class="btn btn-blue" ng-click="open()">Agree</button>
        </div>
    </div>
    </section>
