

<section class="section forgot">
    <div class="right-div">
        <div class="inner-right">
            <img src="./assets/images/adspherelogow.png">
            <div class="forgot-text mb-3 mt-4">
                <h3>Forgot Your Password?</h3>
                <h5>Enter your email address below and we'll send you the instructions on how to change the password.</h5>
            </div>
            <form name="frmForgotPassword" novalidate="" ng-submit="forgotPasswordForm(frmForgotPassword);">
                <div class="form-row align-items-center">
                    <div class="col-sm-12">
                        <div class="custom-input-group mb-3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="email" ng-change="frmForgotPassword.$submitted=false;user.invalid=false;" ng-model="user.username" name="username" placeholder="Email Address" required> 
                        </div>
                        <label class="inline-label error-msg" ng-show="!frmForgotPassword.username.$dirty && frmForgotPassword.username.$invalid && frmForgotPassword.$submitted">Please enter your Email Address.</label>
                        <label class="inline-label error-msg" ng-show="frmForgotPassword.$dirty && frmForgotPassword.username.$invalid && frmForgotPassword.$submitted">Please enter valid Email Address.</label>
                        <label class="inline-label error-msg" ng-show="user.invalid && frmForgotPassword.username.$valid && frmForgotPassword.$submitted">Email Address does not exist.</label>
                        <button type="submit" class="btn login-submit btn-blue">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>