<section class="section">
      <div class="left-div">
          <div class="build-features">
             <h1>Welcome to<br>the new AdSphere<sup>TM</sup></h1>
             <a href="https://adsphere.drmetrix.com/blog/2020/02/04/new-february-2020-build/" target="_blank" class="learn-more">Learn More</a>
             <hr>
            <p>Q4 rate "<strong>actuals</strong>" are now <strong>LIVE</strong>!</p>
            <p>For more info, please <a href="https://www.drmetrix.com/spendmethodology.html">Click here.</a></p>
           </div>
      </div>
      <div class="right-div">
          <div class="inner-right">
            <img src="./assets/images/adspherelogow.png" />
            <div  ng-show="eulaDisagreeFlag == 0">
              <form name="frmLogin" novalidate="" ng-submit="loginForm(frmLogin);" >
                  <div class="form-row align-items-center">
                      <div class="col-sm-12">
                          <div class="custom-input-group  mb-3 mt-4" ng-class="{'error':frmLogin.username.$invalid && frmLogin.$submitted}" ng-init="user.invalid = false">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <input type="text" placeholder="Username" ng-change="user.contactemail = user.username" ng-model="user.username" name="username" ng-minlength="6" required>
                          </div>
                          <label class="error-msg mb-3 text-left"  ng-show="frmLogin.username.$invalid && frmLogin.$submitted">Please enter your Username (minimum 6 characters).</label>
                          <div class="custom-input-group mb-3" ng-class="{'error':frmLogin.password.$invalid && frmLogin.$submitted}">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <input type="password" placeholder="Password" ng-model="user.password" name="password" ng-minlength="6" required >
                          </div>
                          <label class="error-msg mb-3 text-left" ng-show="frmLogin.password.$invalid && frmLogin.$submitted">Please enter your Password (minimum 6 characters).</label>       
                          <label ng-if="user.invalid && frmLogin.$valid && frmLogin.$submitted" class="inline-label error-msg">Invalid Username/Password.</label>

                        <div class="error-msg deactivate-msg mb-3"  ng-show="user.errors" ng-bind-html="error_text | trustAsHtml"></div>
                       <label class="inline-label error-msg ng-scope" ng-show="login_error == 1" id="send_sms_error" ng-bind-html="send_sms_error"></label>
                       <input type="hidden" ng-model="user.contactemail" name="contactemail" value="" />    
                       <!-- ng-disabled="(user.invalid && frmLogin.$invalid) || frmLogin.$submitted" -->
                          <button type="submit" class="btn login-submit btn-blue">Login</button>
                          <p><a ui-sref="forgotPassword">Forgot Password?</a></p>
                      </div>
                  </div>
              </form>
             
              <div class="network-info">
                  <p>Adsphere works best in<i class="fa fa-chrome" aria-hidden="true"></i>Google Chrome.<a href="https://www.google.com/chrome/" target="_blank">Download Chrome Now</a></p>
                  <p><i class="fa fa-apple apple-icon" aria-hidden="true"></i><span>Mac Users - Please use Safari for better video experience</span></p>
              </div>
            </div>
            <div class="eula-message-container" ng-show="eulaDisagreeFlag == 1">
               <h6 class="text-center eula-login-message">
                  We apologize for any inconvenience, please contact
                  <a href="mailto:info@drmetrix.com" >info@drmetrix.com</a> regarding your concerns with respect to the End
                  User License Agreement.
               </h6>
               <button class="btn btn-blue" ng-click="relogin()">Login</button>
             </div>
          </div>
      </div>
  </section>