<div class="collapse-menu">
    Primary Filter
    <a href="#"><i class="fa fa-chevron-down"></i></a>
</div>
<ul class="filter-menu hide-filter-menu"  ng-class="{'edit-filter' : editable}" >
    <li>
        <div>
            Date Range -
            <span class="text-disabled" id="ranking_date_range">{{date_range}}</span>
        </div>
        <ul ng-show="editable">
            <li class="radio-circular" ng-class="{'active-alert' : selectDate == 1 &&  otherDiv == 0}">
                <input type="radio" name="date_type" value="1" id="last_date" class="radio-custom" ng-model="selectDate" ng-change="date_filter(1)"/>
                <label class="radio-custom-label" id="display_week"  for="last_date">
                    Last Week
                </label>
            </li>
            <li class="radio-circular" ng-class="{'active-alert' : selectDate == 2 &&  otherDiv == 0}">
                <input type="radio" name="date_type" value="2" id="current_week" class="radio-custom" ng-model="selectDate" ng-change="date_filter(2)"/>
                <label class="radio-custom-label" for="current_week">
                    Current Week
                </label>
            </li>
            <li class="radio-circular" ng-class="{'active-alert' : otherDiv == 1}">
                <input type="radio" name="date_type" value="media_other1" id="media_other" class="radio-custom" ng-click="setOtherDivVariable();"/>
                <label class="radio-custom-label" for="media_other">
                    Other
                </label>
            </li>
            <li class="datepicker-li checkbox-radio">
                <input type="radio" name="date_type" id="datepicker_checkbox" value="calender" class="radio-custom-checkbox datepicker_checkbox"  ng-click="changeHiddenVal()"/>
                <label for="datepicker_checkbox" class="radio-custom-checkbox-label">
                    <div for="datepicker_checkbox">
                        <span class="v-align-middle">
                            <i id="datepickeropen" class="fa fa-calendar" aria-hidden="true" \=""></i>
                        </span></div>
                </label>
            </li>
        </ul>
    </li>
    <li>
        <div class="d-flex">
            Brand Classification -
            <span ng-if="shortFormClassification[0].selected == true && creative_type == 'short'" class="text-disabled" id="classfication_filter">
                    {{shortFormClassification[0].value}}
            </span>
            <div class="ml-1 d-flex" ng-if="shortFormClassification[0].selected == false && creative_type == 'short'"  >
                <span class="d-flex" ng-repeat="item in shortFormClassification | filter: {selected  : true} track by $index">
                    <span class="text-disabled d-flex" id="classfication_filter">{{item.display_text ? item.display_text : item.value}} 
                    <span ng-if="!$last">, </span>
                </span>
            </div>
            <div class="ml-1 d-flex" ng-if="creative_type == 'long'" >
                <span class="d-flex" ng-repeat="item in longFormClassification | filter: {selected  : true} track by $index">
                    <span class="text-disabled d-flex" id="classfication_filter">{{item.display_text ? item.display_text : item.value}} </span>
                    <span ng-if="!$last">, </span>
                </span>
            </div>
            <span ng-if="creative_type == 'short'" class="text-disabled" id="classfication_filter">{{creative_type}}
             {{duration_display_text}}
            </span>
        </div>
        <ul ng-show="editable"> 
            <li class="radio-circular" ng-class="{'active-alert' : creative_type == 'short'} " data-toggle="modal" data-target="#brand-dropdown">
                <input type="radio" name="brand_class" class="radio-custom" value="short" ng-model="creative_type" id="short-form" ng-click="selectClassification('short');"/>
                <label class="radio-custom-label" for="short-form">Short Form</label>
            </li>
            <li class="radio-circular" ng-class="{'active-alert' : creative_type == 'long'}"  data-toggle="modal" data-target="#brand-dropdown">
                <input type="radio" name="brand_class" class="radio-custom" value="long" ng-model="creative_type" id="long-form" ng-click="selectClassification('long');"/>
                <label class="radio-custom-label" for="long-form">Long Form</label>
            </li>
        </ul>
    </li>
    <li>
        <div>
            Creative -
            <span class="text-disabled" id="language_filter">{{selectLang == 0 ? 'English' : selectLang == 1 ? 'Spanish' : 'All'}}</span>
        </div>
        <ul ng-show="editable">
            <li class="radio-circular ng-scope" ng-repeat="language in languages" ng-class="{'active-alert' : selectLang == language.value}">
                <input type="radio" name="lang" value="{{language.value}}"  ng-model="selectLang" ng-click="setLang(language.value)" id="{{language.id}}" class="radio-custom"/>
                <label class="radio-custom-label" for="{{language.id}}">{{language.display_text}}</label>
            </li>
        </ul>
    </li>
    <!-- <li ng-show="page == 'network' "> -->
       <li>
        <div>
            Break Type -
            <span class="text-disabled" id="breakType_filter" >{{selectBreakType == 'A' ? 'All' : selectBreakType == 'N' ? 'National' : 'DPI'}}</span>
        </div>
        <ul ng-show="editable">
            <li class="radio-circular" ng-repeat="breaktype in breaktypes" ng-class="{'active-alert' : selectBreakType == breaktype.value}">
                <input type="radio" name="breaktype" value="{{breaktype.value}}"  ng-model="selectBreakType" ng-click="setBreaktype(breaktype.value)" id="{{breaktype.id}}" class="radio-custom"/>
                <label class="radio-custom-label" for="{{breaktype.id}}">{{breaktype.display_text}}</label>
            </li>                 
        </ul>
    </li>                
    <li class="response-type" ng-init="setResponseTypes('or');">
        <div class="response-type-text d-flex align-items-center">
            Response Type -
            <span class="text-disabled" ng-hide="editable">{{responseTypeText}}</span>
            <ul ng-show="editable">
                <li class="radio-circular"  ng-class="{'active-alert' : response_header == 'or'}">
                    <input type="radio" id="or" name="response_typ" value=" or " ng-model="response_header" class="radio-custom" ng-click="setResponseTypes('or')"/>
                    <label class="radio-custom-label" for="or">
                        At Least
                    </label>
                </li>
                <li class="radio-circular" ng-class="{'active-alert' : response_header == 'and'}">
                    <input type="radio" id="and" name="response_typ" value=" and " ng-model="response_header" class="radio-custom" ng-click="setResponseTypes('and')" />
                    <label class="radio-custom-label" for="and">
                        Only
                    </label>
                </li>
            </ul>
        </div>

        <ul class="response-menu" ng-show="editable">
            <li class="checkbox" ng-repeat="r in responseTypes" >
                <input type="checkbox" value="{{r.value}}"  id="{{r.value}}" ng-checked="exists(r.value, responseTypeselected)" ng-click="setResponseTypes(response_header, r)"  custom-value="{{r.custom-value}}"  custom-null-value="{{r.custom-null-value}}">
                <label  for="{{r.value}}" id="{{r.id}}"> {{r.value}}</label>
                <span class="or_content"  ng-if="!$last">{{response_header}}</span>
            </li>
        </ul>
    </li>
    <li class="btn-wrapper">
        <button class="btn btn-blue show-div edit btn-sm" ng-click="editableContent();" ng-hide="editable"><i class="fa fa-pencil" title="edit"></i>Edit</button>
        <button class="btn btn-blue apply btn-sm"  ng-click="applyFilter()"><i class="fa fa-check" title="apply"></i>Apply</button>
        <button class="btn btn-blue reset btn-sm"  ng-click="cancelFilter()"  ng-show="editable"><i class="fa fa-rotate-right" title="reset"></i>Reset</button>
        <button class="btn btn-blue hide-div cancel btn-sm" ng-show="editable" ng-click="cancelFilter()"><i class="fa fa-times" title="cancel"></i>Cancel</button>                            
    </li>
</ul>
<!-- Other date range popup -->
<div class="modal fade network-filter-popup tfn-url sm-popup show" id="othersDiv1" tabindex="-1" role="dialog" aria-labelledby="othersDiv1">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Media Week List</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="save_filter_cancel"  ng-click="save_filter_cancel('ranking')">
             <span aria-hidden="true"></span>
             </button>
          </div>
          <div class="modal-body">
             <ul class="media-yr">
                <li>
                   <h6>Media Year</h6>
                   <div ng-click="showYearDropDownVariable()">
                      <span class="year-list">{{selectedYear}}</span>
                      <ul class="year-dropdown" ng-show="showYearDropDown">
                         <li ng-repeat="y in yearsArray | orderBy:'-key'" ng-click="showMediaCalender(y.media_year);$event.stopPropagation()" >
                            {{y.media_year}}
                         </li>
                      </ul>
                   </div>
                </li>
                <li class="checkbox" ng-if="selectedYear == current_year">
                   <input type='checkbox' name='others-ytd_checkbox' id='ytd_selectedYear' 
                      value='year34_{{selectedYear}}_{{years[selectedYear]["media_year_start"]}}_{{years[selectedYear]["media_year_end"]}}'
                      ng-model='ytdOther' ng-change='date_detail()'>
                   <label for="ytd_selectedYear" class="checkbox-custom-label">
                   <span class="radio-custom-checkbox-label">YTD</span>
                   </label>
                </li>
                <li class="checkbox" ng-if="selectedYear != current_year">
                   <input type='checkbox' name='others-all_checkbox[]' class="radio-custom-checkbox" id='all_selectedYear'
                      value='year34_{{selectedYear}}_{{years[selectedYear]["media_year_start"]}}_{{years[selectedYear]["media_year_end"]}}' 
                      ng-model='allOther' ng-change='date_detail()'>
                   <label for="all_selectedYear" class="checkbox-custom-label">
                   <span class="radio-custom-checkbox-label">All</span> 
                   </label>
                </li>
                <li class="checkbox">
                   <input type='checkbox' name='others-lifetime_checkbox' value="5" id="media_lifetime" custom-attr="media_lifetime_checkbox" class="radio-custom-checkbox " 
                      ng-model="lifetimeOther"  ng-change="date_filter(5)" ng-click="setLifetimeVariables();">
                   <label for="media_lifetime" class="checkbox-custom-label">
                   <span class="radio-custom-checkbox-label">Lifetime</span>
                   </label>
                </li>
             </ul>
             <!-- Date presets -->
             <div class="date-preset-block">
                <ul class="media-week-list">
                   <li class="media_week_cls radio-circular">
                      <input type="radio" value="9" name='date_presets' id="media_currentweek" class="radio-custom" ng-model="selectDate"  ng-change="date_filter(selectDate)">
                      <label class="radio-custom-label" for="media_currentweek">
                         <div class="custom-div">Current Week</div>
                      </label>
                   </li>
                   <li class="media_week_cls radio-circular">
                      <input type="radio" value="6" name='date_presets' id="media_lastweek" class="radio-custom" ng-model="selectDate"  ng-change="date_filter(selectDate)">
                      <label class="radio-custom-label" for="media_lastweek">
                         <div class="custom-div">Last Week</div>
                      </label>
                   </li>
                   <li class="media_week_cls radio-circular">
                      <input type="radio" value="10" name='date_presets' id="media_currentmonth" class="radio-custom" ng-model="selectDate"  ng-change="date_filter(selectDate)"/>
                      <label class="radio-custom-label mr-0" for="media_currentmonth">
                         <div class="custom-div">Current Month</div>
                      </label>
                   </li>
                   <li class="media_week_cls radio-circular">
                      <input type="radio" value="7" name='date_presets' id="media_lastmonth" class="radio-custom" ng-model="selectDate"  ng-change="date_filter(selectDate)"/>
                      <label class="radio-custom-label" for="media_lastmonth">
                         <div class="custom-div">Last Month</div>
                      </label>
                   </li>
                   <li class="media_week_cls radio-circular">
                      <input type="radio" value="11" name='date_presets' id="media_currentqtr" class="radio-custom" ng-model="selectDate"  ng-change="date_filter(selectDate)"/>
                      <label class="radio-custom-label" for="media_currentqtr">
                         <div class="custom-div">Current Quarter</div>
                      </label>
                   </li>
                   <li class="media_week_cls radio-circular">
                      <input type="radio" value="8" name='date_presets' id="media_lastqtr" class="radio-custom" ng-model="selectDate"  ng-change="date_filter(selectDate)"/>
                      <label class="radio-custom-label mr-0" for="media_lastqtr">
                         <div class="custom-div">Last Quarter</div>
                      </label>
                   </li>
                </ul>
             </div>
             <div ng-repeat="y in yearsArray | orderBy:'-key'" id="othersWrapperDiv{{y.media_year}}>" ng-show="y.media_year == selectedYear" class='position-relative othersWrapperDiv {{y.media_year}}'>
                <div id="masking" ng-class="{'mask': mask == 1}"></div>
                <div class='d-flex align-item-center justify-content-between media-year-details mt-2 pl-2 pr-2'>
                   <div>
                      <label>Media Week/{{y.media_year}}</label>
                      <ul class="scrollbar">
                         <li ng-repeat="(w_key, w) in y.weeks" class="radio" ng-class="{'other-opa': w.media_week > current_week && selectedYear == current_year}">
                            <label class="radio" for="week_{{y.media_year}}_{{w.media_week}}">
                            <input type='radio' name='others-select' value='week31_{{w.media_week}}_{{w.media_week_start}}_{{w.media_week_end}}' id='week_{{y.media_year}}_{{w.media_week}}'  class='radio-custom'  ng-disabled="w.media_week > current_week && selectedYear == current_year" ng-model='selectDate' ng-change='date_detail(selectDate)'/>
                            <span>{{w.media_week}}</span>
                            </label>
                         </li>
                      </ul>
                   </div>
                   <div>
                      <label>Media Month/{{y.media_year}}</label>
                      <ul class="scrollbar">
                         <li ng-repeat="w in y.months" class="radio" ng-class="{'other-opa': w.media_month > current_month && selectedYear == current_year}">
                            <label class="radio"  for="month_{{y.media_year}}_{{w.media_month}}">
                            <input type='radio' name='others-select' value='week31_{{w.media_month}}_{{w.media_month_start}}_{{w.media_month_end}}' id='month_{{y.media_year}}_{{w.media_month}}'  class='radio-custom ' ng-model='selectDate' ng-change='date_detail(selectDate)' ng-disabled="w.media_month > current_month && selectedYear == current_year " />
                            <span>{{w.media_month | monthName}}</span>
                            </label>
                         </li>
                      </ul>
                   </div>
                   <div>
                      <label>Media Qtr/{{y.media_year}}</label>
                      <ul>
                         <li ng-repeat="w in y.qtrs" class="radio" ng-class="{'other-opa': w.media_qtr > current_qtr && selectedYear == current_year}">
                            <label class="radio" for="qtr_{{y.media_year}}_{{w.media_qtr}}">
                            <input type='radio' name='others-select' value='week31_{{w.media_qtr}}_{{w.media_qtr_start}}_{{w.media_qtr_end}}' id='qtr_{{y.media_year}}_{{w.media_qtr}}'  class='radio-custom ' ng-model='selectDate' ng-change='date_detail(selectDate)' ng-disabled="w.media_qtr > current_qtr && selectedYear == current_year"/>
                            <span>Q{{w.media_qtr}}</span>
                            </label>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<!--Brand Classification popup-->
<div class="modal fade network-filter-popup brand-classification-popup lg-popup show" id="brand-dropdown" tabindex="-1" role="dialog" aria-labelledby="brand-dropdown">
        <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title">Brand Classification</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="save_filter_cancel"  ng-click="save_filter_cancel('ranking')" ng-disabled="checkedShortClassification.length == 0 || selectedDurations.length == 0">
                 <span aria-hidden="true"></span>
                 </button>
              </div>
              <div class="modal-body">
                 <div class="short-form-brand-list">
                    <h5 class="classification-heading" id="header_short" ng-class="{'active-alert' : creative_type == 'short'}">Short Form</h5>
                    <div id="creative_short_form" ng-class="{'disabled-contents' : creative_type != 'short'}">
                       <div >
                          <span class="error-message-inside" id="classification_message" ng-show="checkedShortClassification.length == 0">Please select at least one Short Form</span>  
                          <ul class="brand-classfication-list">
                             <li class="checkbox" ng-repeat="shortForm in shortFormClassification">
                                <input type="checkbox" name="classification"  value="{{shortForm.index}}" id="{{shortForm.id}}" class="checkbox-custom-label" ng-checked="checkedShortClassification.indexOf(shortForm.index) > -1" ng-model="shortForm.selected" ng-change='setClassification(shortForm)'/>
                                <label for="{{shortForm.id}}">
                                <img src="./assets/images/asseenontv_logo.png" class="retail_ranking_img" ng-show="shortForm.index==5">{{shortForm.value}}
                                </label>
                             </li>
                          </ul>
                          <ul class="d-flex align-item-center">
                             <h5>Creative Duration</h5>
                             <li class="checkbox ml-4">
                                <input type="checkbox" id="all_short_duration" name="short_creative_length[]" value="all" ng-Click="selectAllShortCreativeDuration()" ng-checked="isAllDurationChecked()" />
                                <label for="all_short_duration">All</label>
                             </li>
                          </ul>
                          <span class="error-message-inside" id="duration_message" ng-show="selectedDurations.length == 0">Please select at least one Creative Duration</span>  
                          <ul class="short-creative-duration" id="short_creative_duration">
                            <li class="checkbox" ng-repeat="x in creative_short_duration">
                                <input type="checkbox" name="short_creative_length[]"  value="{{x}}" id="duration_{{x}}" ng-Click="checkCreativeDuration(x, selectedDurations);" ng-checked="exists(x, selectedDurations)"/>
                                <label for="duration_{{x}}">{{x}}s</label>
                            </li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div>
                    <h5 class="classification-heading"  id="header_long" ng-class="{'active-alert' : creative_type == 'long'}" ng-click="showClassification('long')">Long Form</h5>
                    <div id="creative_long_form" ng-class="{'disabled-contents' : creative_type != 'long'}">
                       <ul class="brand-classfication-list">
                          <li ng-repeat="longForm in longFormClassification">
                             <label class="checkbox">
                                <input type="checkbox" name="selectClassfication"  value="{{longForm.index}}" id="{{longForm.id}}" ng-model="longForm.selected" ng-checked="checkedLongClassification.indexOf(longForm.index) > -1" ng-click="setClassification(longForm)"/>
                                <span class="custom-div">
                                    <img src="./assets/images/asseenontv_logo.png" class="retail_ranking_img" ng-show="longForm.index==7">
                                {{longForm.value}}
                                </span>
                             </label>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     
