<div class="user-addmin-wrapper" ng-init="showUsers();">
    <div class="modal fade filter-data md-popup super-admin-popup" id="error_msg_anchor" tabindex="-1" role="dialog"
        aria-labelledby="error_msg_anchor">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center"><span id="error_msg_span"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="black-top-menu">
        <nav class="user-menu-icons d-flex justify-content-between align-items-center">
            <span class="welcome-text">Welcome ,</span>
            <ul class="d-flex justify-content-between align-items-center">
                <li class="mr-3">
                    <button class="btn btn-blue" ng-click="openAddUser()"><img class="help"
                            src="./assets/images/add-user.svg">Add New User</button>
                </li>
                <li class="mr-3">
                    <button class="btn btn-blue" ng-click="toggle_search()"><img class="help"
                            src="./assets/images/search-white.svg">Search</button>
                </li>
                <li>
                    <button class="btn btn-blue" ng-click="export()"><img class="help"
                            src="./assets/images/download.svg">Excel</button>
                </li>
            </ul>
        </nav>
    </div>
    <div class="top-grid-filter">
        <div class="network">
            <div class="search-input">
                <span class="search-icon">
                    <i data-feather="search"></i>
                </span>
                <input type="search" placeholder="Search User" ng-model="ranking.searchText" ng-keyup="filterGridWithSearchText()">
            </div>
        </div>
    </div>
    <div id="gridUser" ui-grid="gridOptionsUser" ui-grid-exporter ui-grid-pagination class="grid"></div>
</div>
